@value colors: "./vars.css";
@value contrastText, background from colors;

.app {
  text-align: center;
}

.appBody {
  background-color: background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: contrastText;
}

.appBody > header {
  margin-bottom: 1em;
}